.fondopagina{
    background-color: rgb(151, 16, 43);
}

.font1{
    font-family: 'Times New Roman', Times, serif;
}

.font2{
    font-size: 20px;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
}